<!DOCTYPE HTML>
<html>

<head>
	<title>Muhammad Azhar - Data Analyst</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Muhammad Azhar - Tableau Featured Author, Data Analyst.">
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="shortcut icon" href="images/muhammad_azhar_profile_image.jfif" type="image/x-icon">
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="" class="image avatar"><img src="images/profile_img.png" alt="" /></a>
			<h1><strong>I am Muhammad Azhar</strong>,</h1>
			<p style="color: white; margin-bottom: 0%;">Data Analyst, Data Visualization Specialist, and Tableau Featured Author.</p>
		</div>
		<div class="inner" style="padding-bottom: 20;">
			<ul id="nav" style="display: flex; list-style-type: none; padding: 0; margin: 0;">
				<li><strong><a href="https://public.tableau.com/app/profile/m.azhar" target="_blank" rel="noopener noreferrer">Tableau Portfolio</a></strong></li>
				<li><strong></strong><a href="/Muhammad_Azhar_Profile.pdf" download target="_blank">Download Resume</a></strong></li>
				<li><strong></strong><a href="https://www.linkedin.com/services/page/0ab90a31a576915438/" target="_blank" rel="noopener noreferrer">Hire for Work</a></strong></li>
			</ul>
		</div>
		<div class="inner">
			<ul class="icons">
				<li><a href="https://www.linkedin.com/in/imagineazhar" class="icon brands fa-linkedin"><span
							class="label">LinkedIn</span></a></li>
				<li><a href="https://twitter.com/imagineazhar" class="icon brands fa-twitter"><span
							class="label">Twitter</span></a></li>
				<li><a href="https://github.com/imagineazhar" class="icon brands fa-github"><span
							class="label">Github</span></a></li>
				<li><a href="https://medium.com/@imagineazhar" class="icon brands fa-medium"><span
							class="label">Medium</span></a></li>
				<!-- <li><a href="https://public.tableau.com/app/profile/m.azhar" class="icon solid fa-globe"><span
							class="label">Link</span></a></li> -->
			</ul>
		</div>
	</header>

	<!-- Main -->
	<div id="main">

		<!-- One -->
		<section id="one">
			<header class="major">
				<h2>Only Tableau Featured Author in Pakistan</h2>
			</header>
			<p>
				As a data analyst and data visualization specialist, I have extensive experience in using data to drive business insights and decision-making.
				I am skilled at extracting, cleaning, and analyzing large datasets to uncover patterns and trends. 
			</p>
			<p>
				Additionally, I have a passion for visualizing data clearly and engagingly and have been recognized as a Tableau Featured Author for my work in creating compelling data dashboards and reports. 
				I am committed to using data to drive impact and create value for organizations.
			</p>
			<h3>📚 A brief summary of my academic background:</h3>
			<ul>
				<li>I have a BS in Computer Engineering 💻.</li>
				<li>My undergraduate thesis focused on detection and recognition of Traffic signs from live video-feed
					(📸).</li>
			</ul>
			<h3>📝 My tech, data and math skills:</h3>
			<ul>
				Due to my engineering degree, I have strong knowledge of math (i.e. statistics & linear algebra) and
				machine learning (anomaly detection & pattern recognition).
				I use Python and R for data analysis, and Tableau, Power BI & R for data visualization.
			</ul>
			<h3>🌟 I am interested in helping businesses with the following types of work:</h3>
			<ul>
				<li>Business Intelligence Reporting</li>
				<li>Dashboard design and development</li>
				<li>Data collection instrument creation and planning</li>
				<li>Data cleaning</li>
				<li>Data documentation</li>
				<li>Data quality management</li>
			</ul>
		</section>

		<!-- Featured -->
		<!-- <section id="featured"> -->
		<section id="app2">
			<h1>Featured Work</h1>
			<!-- <button onclick="getFeed()">Featured</button> -->
			<div id="featured" class="row">
				<article class="col-12 col-12-xsmall work-item" v-for="feature in feed" :v-text="feature.title">
					<a :href="feature.url"
						class="image fit thumb" target="_blank" rel="noopener">
						<img :src="feature.thumbnail"
							alt="" width="260" height="300" style="object-fit: cover; object-position: 50% 0%; " />
					</a>
					<h2>{{ feature.title }}</h2>
					<!-- <p>This featured work has a very long description. We are only showing an excerpt of the whole description.</p> -->
				</article>
			</div>
			<ul class="actions">
				<li><a href="https://public.tableau.com/app/profile/m.azhar" class="button" target="_blank" rel="noopener noreferrer">View More
						Work on Tableau</a></li>
			</ul>
		</section>

		<!-- Two -->
		<!-- <section id="two"> -->
		<section>
			<h1>Recent Blogs</h1>
			<div id="app1" class="row">
				<article class="col-6 col-12-xsmall work-item" v-for="post in posts" :v-text="post.title">
					<a :href="post.guid" class="image fit thumb" target="_blank" rel="noopener noreferrer">
						<img :src="post.thumbnail" alt="" width="260" height="300"
						style="object-fit: cover; object-position: 50% 0%;" />
					</a>
					<h2>{{ post.title }}</h2>
					<p>{{ excerpt(post.description) + '...' }}
						<a :href="post.guid" target="_blank" rel="noopener noreferrer">   Read More</a></p>
				</article>
			</div>
			<ul class="actions">
				<li><a href="https://medium.com/@imagineazhar" class="button" target="_blank" rel="noopener">Read More Blogs
						on Medium</a></li>
			</ul>
		</section>

		<!-- Three -->
		<section id="three">
			<h2>Do you have any questions, comments or suggestions? Please leave a message, and I will get back to you
				soon!</h2>
			<!-- <p>...</p> -->
			<div class="row">
				<div class="col-8 col-12-small">
					<form method="post" action="#">
						<div class="row gtr-uniform gtr-50">
							<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name"
									placeholder="Name" /></div>
							<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email"
									placeholder="Email" /></div>
							<div class="col-12"><textarea name="message" id="message" placeholder="Message"
									rows="4"></textarea></div>
						</div>
					</form>
					<ul class="actions">
						<li><input type="submit" value="Send Message" /></li>
					</ul>
				</div>
				<div class="col-4 col-12-small">
					<ul class="labeled-icons">
						<li>
							<h3 class="icon solid fa-home"><span class="label">Address</span></h3>
							Islamabad, Pakistan
						</li>
						<li>
							<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
							<a href="mailto:2muhammadazhar@gmail.com">2muhammadazhar@gmail.com</a>
						</li>
					</ul>
				</div>
			</div>
		</section>

	</div>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="copyright">
				<li>&copy; Muhammad Azhar</li>
				<li><a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<!-- <script src="assets/js/jquery.poptrox.min.js"></script> -->
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/posts.js"></script>
	<script src="assets/js/featured.js"></script>

</body>

</html>